/* groupama lakásbiztosítási forms */

/* fonts */

@font-face {
    font-family: FrutigerCE-Regular;
    src: url(../fonts/FrutigerCE-Regular.otf);
}

@font-face {
    font-family: FrutigerCE-Bold;
    src: url(../fonts/FrutigerCE-Bold.otf);
}

@font-face {
    font-family: FrutigerCE-BlackItalic;
    src: url(../fonts/FrutigerCE-BlackItalic.otf);
}



body {
  background: white;
  overflow-x: hidden; }


  :root{

    /* colors */


    --yellow:#e5b900;
    --grey: rgba(93,89,82,0.60);
    --darkgreen: #1b7577;
    --lightgrey: #F7F7F7;
    --off-black: #333333;
    --light-green: #91BD00;
    --light-grey: #F7F7F7;
    --white: #FFFFFF;
    --palegrey:#D5D5D5;
    --black: #000000;
    --lightergrey:#ededed;

    font-family: FrutigerCE-Regular;




  }

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-family: FrutigerCE-Regular, arial;
    font-size: 100%;
    color: var(--off-black);
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    text-rendering: geometricPrecision;
    font-smooth: always;
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
  }
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:var(--palegrey) !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color:var(--palegrey) !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color:var(--palegrey) !important;
}
:-moz-placeholder { /* Firefox 18- */
  color:var(--palegrey) !important;
}


  html {
    line-height: 1; }

  ol, ul {
    list-style: none; }

  table {
    border-collapse: collapse;
    border-spacing: 0; }

    /* clear class */

.clear{
      clear: both;
    }


/* typograpgy */
h1 {
  font-family: FrutigerCE-Bold;
font-size: 1.5rem;
color: var(--off-black);
text-align: left;
margin-top: 58px;
margin-bottom: 40px;
}

h2 {
  font-family: FrutigerCE-Bold;
  text-align: left;
  margin-bottom: 13px;
  font-size: 1rem;
  line-height: 1.1;
  margin: 15px 0px;
}


label {
  font-size: .8rem;
  font-family: FrutigerCE-Bold;

  text-align: left;
  margin-bottom: 5px;
}

h1:nth-child(1){
  margin-top: 0;
}


/* text input */
input{
  display: inline-block;
  background: white;
  font-family: FrutigerCE-regular, arial, sans-serif;;
  border:1px solid #d0d0d0;
  -moz-border-radius:3px;
       border-radius:3px;
  max-width: 200px;
  margin-right: 10px;
  height:45px;
}

.form-control {
  padding: .6rem .75rem .5rem;
}

.smallinput {
  max-width: 100px;
}

.form-group {
  margin-bottom: 30px;
}

.input-holder.inline {
  display: inline-block;
}

/* text input placeholder */


/* big-text-input width:210px */

.big-text-input{
  width: 210px !important;
}




nav {
  background: var(--yellow);
  height: 40px;
  width: 100%;
  margin: auto;
}

nav ul {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-flow: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
}
nav ul li a {
    font-size: .9rem;
    color: white;
    text-align: center;
    margin-right: 17px;
}



/* tabs section */


.tabs {
  width: 100%;
  height: 80px;
  background: var(--white);
  -webkit-box-shadow: 0 2px 4px 0 rgba(101,101,101,0.46);
     -moz-box-shadow: 0 2px 4px 0 rgba(101,101,101,0.46);
          box-shadow: 0 2px 4px 0 rgba(101,101,101,0.46);
}
.maincontainer {
  max-width: 1200px;
  margin: 0 auto;

}

.paginator {
  width: 80%;
  float: right;
}




.tabs ul li{
  list-style: none;
  float: left;
  margin-left: 42px;
  margin-top: 15px;
}

.tabs ul li div{
  display: inline-block;
  vertical-align: middle;
  background:#e0e0e0;
  border:8px solid var(--white);
  width:48px;
  height:48px;
  -moz-border-radius:100%;
       border-radius:100%;
}

.tabs ul li div p{
  vertical-align: middle;
  font-family:FrutigerCE-Bold;
  font-size: 1rem;
  color: var(--grey);
  text-align: center;
  line-height: 2.2;
  margin-bottom: 0;
}

.tabs ul li span{
  font-family:FrutigerCE-Bold;
  font-size: .8rem;
  text-align:center;
  color: var(--grey);
}

/* selected class in .tabs ul li */

.tabs ul li.selected p, .tabs ul li.selected i{
  color: var(--darkgreen);
}

/* active class in .tabs ul li */

.tabs ul li.active p{
  color: var(--white);
}

.tabs ul li.active div{
  background: var(--darkgreen);
}

/* active span, selected span in .tabs ul li */

.tabs ul li.selected span, .tabs ul li.active span{
  color:var(--grey);
}

/* end of tabs section */



/* content */

.content {
  padding-top: 20px;
}

.left {
  width: 20%;
  float: left;
}

.right {
  width: 80%;
  float: right;
}

.right .padding-left {
  padding-left: 20px;
}

.right .padding-left .padding-inside {
  padding: 30px 25px 30px;
  background: var(--light-grey);
}




/* radiobuttons and labels */


form div.form-group p{
  font-family:FrutigerCE-Bold;
  font-size:15px;
  color: var(--off-black);
  text-align:left;
  margin-bottom: 13px;
}

form div.form-group label.form-check-label{
  min-width: 140px;
  display: inline-block;
  background:#e1e0e1;
  height:45px;
  padding:8px;
  -moz-border-radius: 3px;
       border-radius: 3px;
  margin-right: 8px;
  padding-top: 10px;
}

form div.form-group label.form-check-label.big-label{
  min-width: 180px;
}

form div.form-group label.form-check-label span{
  font-family: FrutigerCE-Bold;
  font-size: 15px;
  color: #231f20;
  text-align: left;
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;

  display: inline-block;
  margin-left: 8px;
}


/* radiobutton label active */

.form-check-label.big-label.active{
  background:#1b7577;
}

.form-check-label.big-label.active span{
  color: var(--white);
}

/* radiobutton */

label.form-check-label input[type=radio]{
  display: none;
}

.radiobuttonForReal{
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  margin-top: 3px;
  height: 18px;
  background-image: url(../imgs/24CC74B4-ECCB-4574-8A4B-D82690823EF0@1x.png);
  margin-left: 2px;
}

.radiobuttonForReal img{
  display: none;
  margin:5px;
}

/* radiobutton active */

label.form-check-label.active .radiobuttonForReal{
  background-image: url("../imgs/28BEE876-A313-4C23-857A-A483B0F4317B@1x.png");
}

label.form-check-label.active .radiobuttonForReal img{
  display: block;
}

/* left side */


.left .first-box li{
  background-color: var(--light-grey);
  height: 45px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1px;
}

.left .first-box a li img {
  position: absolute;
  left: 10px;
  top: 11px;
}
.left .first-box a {
  text-decoration: none;
}
.left .first-box a li span {
  margin-left: 45px;
    color: var(--off-black);

}
.first-box ul a li.active  img {
  -webkit-filter: invert(100%);
}

.first-box ul li.active {
  background: var(--darkgreen);
}
.first-box ul a li.active  span {
  color: white;
}

/* mycollapse osztály a lenyílókhoz */

.mycolllapse {
  margin-top: 20px;
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  text-align: left;
  padding: 10px;
  position: relative;
  cursor: pointer;
  color: white;
  font-family: FrutigerCE-Bold;
  font-size: 1rem;
}
.mycolllapse:focus {
  outline: none;

}

button.mycolllapse:before {
  content: "";
  height: 9px;
  background-image: url(../imgs/triangle.png);
  width: 11px;
  display: block; /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  -moz-transform: rotate(180deg);
       transform: rotate(180deg);
  position: absolute;
  -moz-background-size: cover;
       background-size: cover;
  right: 16px;
  top: 17px;
  background-repeat: no-repeat;
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

button.mycolllapse.collapsed:before {
  content: "";
  height: 9px;
  background-image: url(../imgs/triangle.png);
  width: 11px;
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  -moz-transform: rotate(0deg);
       transform: rotate(0deg);
  display: block;
  position: absolute;
  -moz-background-size: cover;
       background-size: cover;
  right: 16px;
  top: 17px;
  background-repeat: no-repeat;
}

/* second-box zöld lenyílója */

.second-box .mycolllapse{
  background: var(--light-green);
}

.bizt {
  background: var(--lightgrey);
padding: 30px 10px;
}



/* check-box */

form div.form-check label.form-check-label{
  font-family:FrutigerCE-Regular;
  font-size:15px;
  color:var(--black);
  text-align:left;
  height: 24px;
  padding-left: 0;
}

form div.form-check label.form-check-label span{
  display: inline-block;
}

/* original checkbox disappear */

label.form-check-label input[type=checkbox] {
  display: none;
}

/* custom checkbox display */

.chekboxForReal{
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 8px;
  vertical-align: -7px;
  background-image: url("../imgs/F700208F-9072-4ED5-B89E-3814B0C99A35@1x.png");
}

/* custom checkbox pipeline */

.chekboxForReal i{
  color: var(--white);
  margin: 5px;
  display: none;
}


select {
  height: 40px !important;
  font-family: FrutigerCE-regular, arial, sans-serif !important;
  font-size: 1rem !important;
}

/* tooltip */

button.btn-secondary{
    font-family: FrutigerCE-BlackItalic;
    font-size: .75rem;
    color: var(--white);
    text-align: center;
    padding: .25rem .5rem;
    background: var(--darkgreen);
    height: 22px;
    border-radius: 100%;
    margin-left: 8px;
}


/* container-right container-fluid grid system alapján a boxok */

/* csalás a paddinggal, hogy kijöjjenek a szélességek */
.container-fluid.no-gutters{
  padding-right: 0;
  padding-left: 0;
}


/* box-header azaz a dobozok általános fejléce */

.box-header{
  background: var(--white);
}

.box-header img{
  display: inline-block;
  vertical-align: middle;
  margin-right: 16px;
}

.box-header p{
  color:var(--darkgreen);
  font-family:FrutigerCE-Bold;
  font-size:.875rem;
  display: inline-block;
}

/* col-md-6 nagy box-header, azaz a lenyíló box egyedi css-e */

.nagy{
  width: 426px;
}

.nagy .box-header{
  padding:1.55rem;
  min-height: 81px;
}

.nagy:first-child .box-header img{
  background: url(../imgs/6D026413-4668-42FE-9E27-D3AE89926505@2x.png);
  background-size: cover;
  background-size: 29px 29px;
  padding: .25rem;
}

/* col-md-6 általános css-e */

.nagy{
  background: var(--white);
  width:425px;
  box-shadow:1px 2px 4px 0 rgba(0,0,0,0.14);
  border-radius:5px;
}

.nagy .mycolllapse{
  color: var(--black);
  background: var(--lightergrey);
  font-size: .75rem;
  border-radius: 0;
  padding:12px 0 15px 20px;
  margin-top:0;
  font-family: FrutigerCE-Regular;
}

.nagy button.mycolllapse:before {
  content: "";
  background-size: contain;
  background-image: url(../imgs/052F7A18-05DA-4ED9-98BD-92EE00351E89@1x.png);
  }

  .nagy .card.card-block{
    border-radius:0 0 5px 5px;
    border:0;
    padding:7px 15px;
  }

  .nagy .card.card-block li{
    display: inline-block;
    font-size:0.825rem;
    border-bottom:1px solid rgba(151,151,151, .29);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    padding:10px 17px 10px 16px;
  }

  .nagy .card.card-block li p{
    display: inline-block;
    float: right;
  }

  /* col-md-4 - a közepes boxok */


  .kozepes{
    width:273px;
    height:194px;
    box-shadow:0 0 9px 0 rgba(27,117,119,0.91);
    border-radius:5px;
    margin-top: 30px;
    background: var(--white);
  }

  .kozepes .box-header{
    border-radius:5px;
  }

  .kozepes .box-header p{
    font-size:.95rem;
    max-width: 100px;
    margin:19px 0;
    line-height:18px;
  }

  .kozepes .box-header img{
    margin-right: 0;
  }

  .kozepes .box-header .image-container{
    float:left;
    border-radius: 5px;
    margin:19px 14px 13px 21px;
  }

  .kozepes .box-header .image-container img:nth-child(1){
    display: block;
    margin-left: 10px;
  }

  .kozepes .box-header .image-container img:nth-child(3){
    vertical-align: bottom;
  }

  .kozepes form{
    display: inline-block;
    float:right;
    margin:27px 20px 0 0;
  }


  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 12px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    display:none;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:var(--lightergrey);
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    bottom: -2px;
    background:var(--darkgreen);
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background: url(../imgs/0EC49A5D-71A3-4D24-9523-F14ACFC2F32D@1x.png);
  }

  input:focus + .slider {
   
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 5px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

    .kozepes p{
      font-size: .82rem;
      line-height: 1.5em;
      margin:0 16px 0 13px;
    }

/* col-md-4 box-footer decrease-increase number form */

.kozepes .box-footer{
  text-align: center;
  background: var(--lightergrey);
  height: 45px;
  margin-top: 18px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.kozepes .box-footer form {
  float: none;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  font-family:FrutigerCE-Bold;
}

.value-button {
  display: inline-block;
  font-family:FrutigerCE-Bold;
  font-size: 1rem;
  margin: 0px;
  width: 30px;
  text-align: center;
  vertical-align: middle;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.value-button:hover {
  cursor: pointer;
}

.kozepes .box-footer form #decrease{
  margin-bottom: 10px;
}

.kozepes .box-footer form #increase {
  margin-bottom: 10px;
}

.kozepes .box-footer form #decrease span, .col-md-4 .box-footer form #increase span{
  font-size:1.5rem;
  color:var(--darkgreen);
  font-family:FrutigerCE-Bold;
}

.kozepes .box-footer form #input-wrap {
  margin: 0px;
  padding: 0px;
}

.kozepes .box-footer input#number {
  width: 87px;
  font-family:FrutigerCE-Bold;
  text-align: center;
  background: transparent;
  font-size: .925rem;
  border: none;
  margin: 5px 0 0 0;
  height: 40px;
}

.kozepes .box-footer input[type=number]::-webkit-inner-spin-button,
.kozepes .box-footer input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


  /* col-md-3 kicsi - a kis boxok */

  .kicsi{
    margin-top:30px;
    background: var(--white);
    box-shadow:0 0 9px 0 #bbb3a8;
    border-radius:5px;
    width:198px;
    min-height:144px;
  }

  .kicsi .box-header{
    border-radius: 5px;
  }

  .kicsi .box-header img{
    vertical-align: top;
    margin: 29px 82px 10px 78px;
  }

  .kicsi .box-header p{
    display: block;
    font-size: .875rem;
    text-align: center;
    margin-bottom:18px;
  }

  /* col-md-3 button css-e */

  .kicsi button{
    width: 100%;
    height: 45px;
    color: var(--darkgreen);
    font-family: FrutigerCE-Bold;
    font-size: .875rem;
    background: var(--lightergrey);
    border:none;
    border-top-left-radius:0;
    border-top-right-radius:0;
  }

  .kicsi button:hover{
    background: var(--darkgreen);
  }

  .kicsi button.active{
    background: var(--darkgreen);
  }